<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Finding CRISPR arrays</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"> Find CRISPR arrays using LSTM </a>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Input sequence:</h2>
                <p class="lead">

                    <form id="fileinfo" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload a sequence file in
                                    FASTA format</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="seqfile" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" accept=".fasta">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                        <center>OR</center>
                        <br />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Paste DNA Sequence in FASTA format</span>
                            </div>
                            <textarea id="fasta-sequence" name="fasta-sequence" class="form-control"
                                aria-label="With textarea"></textarea>
                        </div>
                        <br />
                        <br />
                            <div class="row justify-content-center">
                                    <div class="col-3">
                            <a class="btn btn-secondary btn-lg" id="findBtn" href="#" role="button">Find CRISPR
                                Arrays</a>
                                    </div>
                                    <div class="col-3">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="spinner-border text-secondary" role="status" id="spinner">
                                            <span class="sr-only">...</span>
                                          </div>
                                    Example Sequences
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" id="example_sp"><i>Sp. Pyogenese</i>  M1 GAS</a>
                                    <a class="dropdown-item" id="example_cb"><i>C. botulinum </i>CDC 297</a>
                                    <a class="dropdown-item" id="example_mb"><i> M. bathoardescens</i> strain JH146</a>
                                </div>
                            </div>
                        </div>
                            </div>
                    </form>
                </p>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"> Finding candidate CRISPRs
            </div>
        </div>
        <div id="results">

        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-content">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">&copy; 2019 CRISPR LSTM</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>

</body>

</html>